/* General styles */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #e17979ca;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

/* Style the envelope and the card */
.envelope {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: #f08080;
}

.envelope::before {
  background-color: #f08080;
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #eae2b7;
  width: 270px;
  height: 195px;
  top: 5px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
}

.card::before {
  content: "";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width: 253px;
  height: 178px;
  left: 5px;
  top: 5px;
}

.text {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  font-size: 17px;
  text-align: center;
  line-height: 25px;
  color: #003049;
  
  /* Center the text horizontally and vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ensure the text container takes full width */
}

.front {
  position: absolute;
  border-right: 180px solid #f4978e;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front::before {
  position: absolute;
  content: "";
  border-left: 300px solid #f8ad9d;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}

.btn i {
  font-size: 50px;
  color: rgb(248, 87, 87);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}

.shadow {
  position: absolute;
  width: 324px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 30%;
  animation: scale 3s linear infinite;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: scale 3s linear infinite;
}

.gif-container {
  position: absolute;
  bottom: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-wrapper {
  max-width: 100%;
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}

.gif-wrapper img {
  width: 100%;
  border-radius: 0;
}

/* Keyframes for animations */
@keyframes up {
  0%, 10% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}
}

@keyframes scale {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.85);
  }
}
@media screen and (max-width: 1024px) {
    .gif-container {
    width: 70%;
  }
  .shadow {
    bottom: 35%;
  }
}
@media screen and (max-width: 840px) {
  .gif-container {
    width: 88%;
  }
  .shadow {
    bottom: 30%;
  }
}

@media screen and (max-width: 430px) {
  .gif-container {
    width: 100%;
  }
  .shadow {
    bottom: 30%;
  }
}
@media screen and (max-width: 360px) {
  .shadow {
    bottom: 20%;
  }
}
